<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>746736885742-lm21610hsv1a4i714mq9mhdvaea39lue.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_L5yaU5rJqMxk23GSC5XQiMdwy4V-xc</string>
	<key>GCM_SENDER_ID</key>
	<string>746736885742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-569ce</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-569ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746736885742:ios:384d5662a5146015a478ff</string>
</dict>
</plist>